@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer components {
    /* Custom Components */
  }
  
  .scroll-linear > ul {
    animation: animate-linear 17s linear infinite;
  }
  
  .scroll-linear:hover > ul {
    animation-play-state: paused;
  }
  
  @keyframes animate-linear {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .scroll-linear-two > ul {
    animation: animate-linear-two 15s linear infinite;
  }
  
  .scroll-linear-two:hover > ul {
    animation-play-state: paused;
  }
  
  @keyframes animate-linear-two {
    0% {
      transform: translateX(75%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .no-scrollbar ::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }